body {
  background: #4a4a4f;
  color: #f9f9fa;
  font: caption;
  width: 450px;
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
}

p {
  margin: 0.5em 0;
}

p:first-of-type {
  margin-top: 0;
}

p:last-of-type {
  margin-bottom: 0;
}

.Section,
.MoreInfo {
  position: relative;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.Section {
  padding: 16px 40px 16px 56px;
}

.MoreInfo,
.Heading {
  padding: 16px 40px;
}

.SectionIcon {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 16px;
  width: 32px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.SectionIcon--avatar {
  margin-top: calc(16px + 2em);
  justify-content: flex-start;
}

.Heading {
  font-size: inherit;
  text-align: center;
  margin: 0;
}

.Status--danger {
  color: #d74345;
}

.Status--success {
  color: #30e60b;
}

.ButtonRow {
  display: flex;
  justify-content: stretch;
}

.ButtonRow > .MoreInfo:first-child:not(:only-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}

.MoreInfo {
  flex-grow: 1;
  display: block;
  text-decoration: none;
  text-align: center;
  background-color: #646464;
  border: none;
  color: #eaeaea;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

.MoreInfo:hover {
  background-color: #888888;
}

.MoreInfo--primary {
  color: white;
  background-color: #0060df;
}

.MoreInfo--primary:hover {
  background-color: #003eaa;
}

.Fingerprint {
  font-size: 0.8em;
}

#AUTHOR_FINGERPRINT {
  font-family: monospace;
  opacity: 0.5;
}

#AUTHOR_AVATAR {
  border-radius: 50%;
}

#AUTHOR_AVATAR[src=""] {
  display: none;
}
